apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generatorOptions:
  disableNameSuffixHash: true

commonAnnotations:
  configsync.gke.io/cluster-name-selector: "{{ cluster_name|trim }}"
  managing-repo: platform
  cluster-group: "{{ cluster_group|trim }}"

commonLabels:
  foo: bar

resources:
{% for item in ['clusterdns', 'rbac', 'robin', 'vmruntime'] %}
  - ../../base_library/{{ item }}
{% endfor %}

# this makes the kustomize bad
foo:
  bar: baz
